$color-scheme: dark;
$body-background-color: #1D2018;
$body-heading-color: $grey-lt-000;
$body-text-color: $grey-lt-300;
$link-color: #45601A;
$nav-child-link-color: #676F5A;
$sidebar-color: #1D2018;
$base-button-color: #34372E;
$btn-primary-color: #45601A;
$code-background-color: #34372E;
$code-linenumber-color: #676F5A;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: lighten($body-background-color, 10%);
$search-background-color: lighten($body-background-color, 5%);
$search-result-preview-color: lighten($body-background-color, 7%);
$border-color: lighten($body-background-color, 20%);